{% extends 'base.html' %}
{% block content %}
    <div ng-view>
    <div ng-app="snippetApp">
        {% verbatim %}
        <div class="content" style="max-width: 1000px; margin: auto; max-height: 500px;" ng-controller="SnippetController">
            <form ng-submit="search()">
                <div class="row mt-5">

                    <div class="col-4">
                        <div class="mb-3">
                            <input ng-model="snippet.id" type="text" class="form-control" placeholder="Номер договора">
                        </div>
                    </div>
                    <div class="col-4">
                        <select class="form-select" name="singleSelect" ng-model="snippet.style" >
                            <option value="" >Тариф</option>
                            <option ng-repeat="option in style_choices" ng-value="option.value">  {{option.value}}  </option>                    </select>
                    </div>
                    <div class="col-4">
                        <select class="form-select" name="singleSelect" ng-model="snippet.language" >
                            <option value="" >Состояние</option>
                            <option ng-repeat="option in tariff_choices" ng-value="option.key">  {{option.value}}  </option>                    </select>
                    </div>

                </div>
                <input class="btn btn-outline-primary mt-1 mb-3" type="submit" value="Поиск">

            </form>
            <hr>
            <!-- Pagination -->
            <nav aria-label="...">
                <div class="pagination  mt-2 justify-content-end"  >
                    <div ng-if="snippets.previous != null">
                        <div class="page-item">
                            <a class="page-link" href="" ng-click="getPreviousLink()">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                            </a>
                        </div>
                    </div>

                    <div ng-if="snippets.previous == null">
                        <div class="page-item disabled">
                            <a class="page-link" href="" ng-click="getPreviousLink()">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                            </a>
                        </div>
                    </div>

                    <div ng-if="snippets.next != null">
                        <div class="page-item">
                            <a class="page-link" href="" ng-click="getNextLink()">
                                <i class="fas fa-arrow-alt-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div ng-if="snippets.next == null">
                        <div class="page-item disabled">
                            <a class="page-link" href="" ng-click="getNextLink()">
                                <i class="fas fa-arrow-alt-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- EndPagination -->
            <div ng-repeat="snippet in snippets['results']">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p class="mx-lg-4"> {{ snippet.title }}  </p>
                            </div>
                            <div class="col-3">
                                <p style="color: blue;"> {{ snippet.language }} </p>
                            </div>
                            <div class="col-4">
                                <p> {{ snippet.style }}  </p>
                            </div>
                            <div class="col-1">
                                <a href="#!/snippets/{{ snippet.id }}"><i class="fas fa-edit"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        {% endverbatim %}
    </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
    {% load static %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/snippet-detail/snippet-detail.module.js' %}"></script>
    <script src="{% static 'js/snippet-detail/snippet-detail.component.js' %}"></script>

    {#    <script src="{% static 'js/snippet-list.component.js' %}"></script>#}

{% endblock extra_javascript %}
